<layout-menu-bar/>
<section class="landing-hero py-8 px-5 lg:px-8">
  <div class="flex flex-wrap mb-8">
    <div
      class="w-full xl:w-6 flex flex-column lg:pr-8 align-items-center xl:align-items-stretch">
      <div>
        <banner/>
      </div>
    </div>
    <div class="w-full xl:w-6 pt-7 xl:pt-0 hidden md:block">
      <div class="flex">
        <online-editing/>
      </div>
    </div>
  </div>
<div class="w-full flex justify-content-center">
    <install-package/>
</div>
  <div class="mt-8">
    <banner-marquee/>
  </div>
  <div class="mt-8">
    <features/>
  </div>
</section>
