.section-detail {
  text-align: center;
  color: var(--home-secondary-text-color);
  font-weight: 500;
  font-size: 1.25rem;
  margin: 1.5rem 0 0;
  padding: 0 2rem;
}

:host {
  display: block;
  color: #FFF;
  font-size: 14px;
  font-family: "Inter var", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  background: linear-gradient(135deg, #222 0%, #19191c 40%);
  ::ng-deep {
    .p-terminal-input {
      font-family: Hack, sans-serif;
    }
  }
}


