.gradle
.kiro
.kotlin/
envsetup.sh
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### kronos-docs (Angular/Node.js) ###
kronos-docs/node_modules/
kronos-docs/dist/
kronos-docs/tmp/
kronos-docs/out-tsc/
kronos-docs/.angular/
kronos-docs/ng-doc/

### Gradle ###
*.properties
/keystore/*
*.gpg
*.key
*/bin/*
**/test-output.log
**/*-output.log