.ng-doc-header-controls {
  display: flex;

  a[ng-doc-button-icon],
  button[ng-doc-button-icon],
  ng-doc-theme-toggle {
    margin-left: calc(var(--ng-doc-base-gutter) * 2);
  }
}

@media screen and (max-width: 600px) {
  .ng-doc-header-controls {
    a[ng-doc-button-icon],
    button[ng-doc-button-icon],
    ng-doc-theme-toggle {
      margin-left: var(--ng-doc-base-gutter);
    }
  }
}

:host ::ng-deep {
  ng-doc-mermaid-viewer {
    background: aliceblue !important;
  }

  .ngde {
    &.title {
      color: var(--ng-doc-primary);
      font-size: inherit;
      line-height: 1;
      font-weight: 600;
      vertical-align: baseline;
    }

    &.generic:hover, &.type:hover {
      text-decoration: underline;
      cursor: default;
    }

    &.noun {
      color: var(--ng-doc-primary);
      font-weight: bolder;
      cursor: pointer;
      text-decoration: none;
      padding: 5px 0;
      border-radius: 4px;

      &:hover {
        background-color: color-mix(in srgb, var(--ng-doc-code-highlight-color), transparent 90%) !important;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 0.5px;
          background: var(--ng-doc-primary);
          position: absolute;
          bottom: 6px;
          left: 0;
        }
      }

      .icon {
        fill: var(--ng-doc-primary);
        vertical-align: top;
        margin-right: 0.2rem;
        width: 15px;
        height: 15px;
      }
    }
  }


  .code-blue {
    color: rgba(0, 55, 185, 0.8);
  }

  .code-green {
    color: rgba(28, 99, 109, 0.8)
  }

  .code-black {
    color: #000;
  }

  .code-white {
    color: #FFF;
  }

  .code-red {
    color: #FF0000;
  }

  pre {
    margin: var(--ng-doc-code-margin);

    code {
      white-space: unset;
      box-shadow: inset 0px 6px 6px rgba(16, 19, 19, 0.32);
      background-color: var(--ng-doc-code-background);
    }
  }

  h1.ngde + h1.ngde, h1.ngde + h2.ngde, h1.ngde + h3.ngde, h1.ngde + h4.ngde, h1.ngde + h5.ngde, h1.ngde + h6.ngde, h2.ngde + h1.ngde, h2.ngde + h2.ngde, h2.ngde + h3.ngde, h2.ngde + h4.ngde, h2.ngde + h5.ngde, h2.ngde + h6.ngde, h3.ngde + h1.ngde, h3.ngde + h2.ngde, h3.ngde + h3.ngde, h3.ngde + h4.ngde, h3.ngde + h5.ngde, h3.ngde + h6.ngde, h4.ngde + h1.ngde, h4.ngde + h2.ngde, h4.ngde + h3.ngde, h4.ngde + h4.ngde, h4.ngde + h5.ngde, h4.ngde + h6.ngde, h5.ngde + h1.ngde, h5.ngde + h2.ngde, h5.ngde + h3.ngde, h5.ngde + h4.ngde, h5.ngde + h5.ngde, h5.ngde + h6.ngde, h6.ngde + h1.ngde, h6.ngde + h2.ngde, h6.ngde + h3.ngde, h6.ngde + h4.ngde, h6.ngde + h5.ngde, h6.ngde + h6.ngde {
    margin-top: calc(var(--ng-doc-base-gutter) * 5) !important;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
  width: 200px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
  }

  span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--ng-doc-text);
  }
}

.ng-doc-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--ng-doc-base-gutter) * 3);
  color: var(--ng-doc-text-muted);
  font-size: 12px;

  a {
    padding: 0 6px;
  }
}