:host {
    display: block;
    font: 16px / 1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    background: linear-gradient(135deg, #222 0%, #19191c 40%);
    min-height: 100vh;
}

:host ::ng-deep .markdown-body p {
    margin: 0 0 24px;
}

:host ::ng-deep .token.table {
    display: initial !important;
}
