:host ::ng-deep {
  .p-menu {
    background-color: var(--ng-doc-sidebar-background);
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    display: block;

    .p-menu-panel {
      box-shadow: none !important;
    }

    .p-submenu-header {
      span {
        color: var(--ng-doc-text);
        font-weight: 600;
        font-size: 18px;
      }

      &:hover {
        .p-menu-header-content {
          color: var(--ng-doc-link-color);
        }
      }

      &:active {
        .p-menu-header-content {
          background-color: var(--ng-doc-text);
        }
      }

      .p-menu-header-action {
        color: var(--ng-doc-text);
        padding: 0.6rem 1.0rem !important;
      }

      .p-menuitem-text {
        font-weight: 600;
        font-size: 18px;
      }

      &.p-highlight {
        .p-menuitem-text, .p-menu-header-action {
          color: var(--ng-doc-link-color);
        }
      }
    }

    .p-menuitem {
      background-color: var(--ng-doc-sidebar-background);

      .p-menuitem-icon {
        font-size: 5px;
        margin-right: 1rem;
        color: var(--ng-doc-text);
      }
    }

    .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
      color: var(--ng-doc-text);
      font-size: 14px;
    }

    .p-menuitem > .p-menuitem-content .p-menuitem-link {
      padding: 0.5rem 1.0rem !important;
      border-radius: 0.5rem !important;

      &:hover {
        background-color: var(--ng-doc-base-2);
        color: var(--ng-doc-text)!important;
      }
    }

    .p-menuitem > .p-menuitem-content .p-menuitem-link-active {
      background-color: var(--ng-doc-base-4);

      .p-menuitem-icon {
        visibility: visible;
        color: var(--ng-doc-link-color);
        animation: scale .5s ease-out;
      }

      .p-menuitem-text {
        color: var(--ng-doc-link-color);
        font-weight: 400;
      }
    }
  }

  .p-toggleable-content.p-menu-expanded {
    height: auto !important;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
