{# Nunjucks: https://mozilla.github.io/nunjucks/ #}

{% macro extract(str) -%}
    {{ str | lower | replace("@", "") | replace("（", "") | replace("）", "") | replace(".", "") | replace(" ", "-") }}
{%- endmacro %}

{% macro parseString(input) -%}
    {%- if input.indexOf('<') > -1 and input.indexOf('>') > -1 and input.indexOf('>') == input.length - 1 -%}
        {%- set prefix = input.split('<')[0] -%}
        {%- set content = input.split('<')[1].split('>')[0] -%}
        {{- code(prefix, content.split(",")) -}}
    {%- else -%}
        {{- code(input) -}}
    {%- endif -%}
{%- endmacro %}

{% macro keyword(url, page, language) -%}
    {%- set label = page[0] if page.length == 1 else page[0] + " - " + page[1] -%}
    {%- set anchor = extract(label) if page.length == 1 else extract(page[1]) -%}
    <code class="ngde ng-doc-code-with-link">
        {%- block content -%}
            <a class="ngde" href="/documentation/{{ language }}/{{ url }}#{{ anchor }}">
                {{- '📚' + label -}}
            </a>
        {%- endblock -%}
    </code>
{%- endmacro %}

{%- macro title(name) -%}
    <code class="ngde title">{{ name | escape }}</code>
{%- endmacro %}

{%- macro code(name, types) -%}
<code class="ngde">
    <span class="type" style="color: #c41d7f">{{- name | escape -}}</span>
    {%- if types != null -%}
    {%- block lt -%}
        <span style="color: #666">{{- "<" | escape -}}</span>
    {%- endblock -%}
    {%- for type in types -%}
            <span class="generic" style="color: darkcyan">{{- type.trim() | escape -}}</span>
        {%- if loop.last == false -%}
            <span class="generic" style="color: #666">{{- ", " | escape -}}</span>
        {%- endif -%}
    {%- endfor -%}
    {%- block gt -%}
        <span style="color: #666">{{- ">" | escape -}}</span>
    {%- endblock -%}
    {%- endif -%}
</code>
{%- endmacro %}

{% macro annotation(name) -%}
    {{ title('@' + name) }}
{%- endmacro %}

{% macro required() -%}
    <span style="color: red;line-height: 1;font-size: 14px;font-family: SimSun, sans-serif;margin-right: 4px;display: inline-block;vertical-align: middle;">*</span>
{%- endmacro %}

{% macro params(headers, paramList) -%}
    <table class="ngde" style="min-width: 692px">
        {%- block thead -%}
            <thead class="ngde">
            {%- block tr -%}
                <tr class="ngde">
                    {%- for title in headers -%}
                        <th class="ngde">{{ title }}</th>
                    {%- endfor -%}
                </tr>
            {%- endblock -%}
            </thead>
        {%- endblock -%}
        {%- block tbody -%}
            <tbody>
            {%- for param in paramList -%}
                <tr class="ngde">
                    <td class="ngde"
                        style="white-space: nowrap">{% if param[3] == null %}{{ required() }}{% endif %}{{ title(param[0]) }}</td>
                    <td class="ngde" style="min-width: 150px">{{ param[1] }}</td>
                    <td class="ngde">{{ parseString(param[2]) | escape }}</td>
                    <td class="ngde" style="white-space: nowrap">
                        {%- block span -%}
                            <code class="ngde">
                                {%- if param[3] != null %}{{ param[3] }}{% else %}-{% endif -%}
                            </code>
                        {%- endblock -%}
                    </td>
                </tr>
            {%- endfor -%}
            </tbody>
        {%- endblock -%}
    </table>
{%- endmacro %}