{# Nunjucks: https://mozilla.github.io/nunjucks/ #}

{% macro extract(str) -%}
    {{ str | lower | replace("@", "") | replace("（", "") | replace("）", "") | replace(".", "") | replace(" ", "-") | replace("(", "") | replace(")", "") | replace("/", "") }}
{%- endmacro %}

{% macro parseString(input) -%}
    {%- if input.indexOf('<') > -1 and input.indexOf('>') > -1 and input.indexOf('>') == input.length - 1 -%}
        {%- set prefix = input.split('<')[0] -%}
        {%- set content = input.split('<')[1].split('>')[0] -%}
        {{- code(prefix, content.split(",")) -}}
    {%- else -%}
        {{- code(input) -}}
    {%- endif -%}
{%- endmacro %}

{% macro keyword(url, page, language) -%}
    {%- set label = page[0] if page.length == 1 else page[0] + " - " + page[1] -%}
    {%- set anchor = extract(label) if page.length == 1 else extract(page[1]) -%}
    <code class="ngde ng-doc-code-with-link">
        {%- block content -%}
            <a class="ngde" href="/documentation/{{ language }}/{{ url }}#{{ anchor }}">
                {{- '📚' + label -}}
            </a>
        {%- endblock -%}
    </code>
{%- endmacro %}

{%- macro title(name) -%}
    <code class="ngde title">{{ name | escape }}</code>
{%- endmacro %}

{%- macro code(name, types) -%}
<code class="ngde">
    <span class="type" style="color: #c41d7f">{{- name | escape -}}</span>
    {%- if types != null -%}
    {%- block lt -%}
        <span style="color: #666">{{- "<" | escape -}}</span>
    {%- endblock -%}
    {%- for type in types -%}
            <span class="generic" style="color: darkcyan">{{- type.trim() | escape -}}</span>
        {%- if loop.last == false -%}
            <span class="generic" style="color: #666">{{- ", " | escape -}}</span>
        {%- endif -%}
    {%- endfor -%}
    {%- block gt -%}
        <span style="color: #666">{{- ">" | escape -}}</span>
    {%- endblock -%}
    {%- endif -%}
</code>
{%- endmacro %}

{% macro annotation(name) -%}
    {{ title('@' + name) }}
{%- endmacro %}

{% macro required() -%}
    <span style="color: red;line-height: 1;font-size: 14px;font-family: SimSun, sans-serif;margin-right: 4px;display: inline-block;vertical-align: middle;">*</span>
{%- endmacro %}

{% macro params(headers, paramList) -%}
    <table class="ngde" style="min-width: 692px">
        {%- block thead -%}
            <thead class="ngde">
            {%- block tr -%}
                <tr class="ngde">
                    {%- for title in headers -%}
                        <th class="ngde">{{ title }}</th>
                    {%- endfor -%}
                </tr>
            {%- endblock -%}
            </thead>
        {%- endblock -%}
        {%- block tbody -%}
            <tbody>
            {%- for param in paramList -%}
                <tr class="ngde">
                    <td class="ngde"
                        style="white-space: nowrap">{% if param[3] == null %}{{ required() }}{% endif %}{{ title(param[0]) }}</td>
                    <td class="ngde" style="min-width: 150px">{{ param[1] }}</td>
                    <td class="ngde">{{ parseString(param[2]) | escape }}</td>
                    <td class="ngde" style="white-space: nowrap">
                        {%- block span -%}
                            <code class="ngde">
                                {%- if param[3] != null %}{{ param[3] }}{% else %}-{% endif -%}
                            </code>
                        {%- endblock -%}
                    </td>
                </tr>
            {%- endfor -%}
            </tbody>
        {%- endblock -%}
    </table>
{%- endmacro %}

{%- macro noun(str, language) -%}
    {%-  set id = extract(str) -%}
    <span class="noun" id="{{ id }}" onclick="window.onWikiChange.emit({ id: '{{ id }}', event: event})">
        {{ str }}
        <svg class="icon" viewBox="0 0 1026 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
             width="200" height="200">
            <path d="M897.024 0q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664v576.512q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24h-128v-128h63.488q26.624 0 45.568-18.432t18.944-45.056V320.512q0-26.624-18.944-45.568T832.512 256h-512q-26.624 0-45.568 18.944T256 320.512V384H128V128q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648T256 0h641.024zM576.512 448.512q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664v256q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24h-384q-26.624 0-50.176-10.24t-40.96-27.648-27.648-40.448-10.24-49.664v-256q0-26.624 10.24-49.664t27.648-40.448 40.96-27.648 50.176-10.24h384z m0 256q0-26.624-18.944-45.056T512 641.024H256q-26.624 0-45.056 18.432t-18.432 45.056v64.512q0 26.624 18.432 45.056T256 832.512h256q26.624 0 45.568-18.432t18.944-45.056v-64.512z"></path>
        </svg>
    </span>
{%- endmacro -%}