{# Nunjucks: https://mozilla.github.io/nunjucks/ #}

{% import "../../../macros/common.njk" as common %}

{% macro keyword(url, page) -%}
    {{ common.keyword(url, page, 'en') }}
{%- endmacro %}

{% macro title(name) -%}
    {{ common.title(name) }}
{%- endmacro %}

{% macro annotation(name) -%}
    {{ common.annotation(name) }}
{%- endmacro %}

{% macro code(name) -%}
    {{ common.code(name) }}
{%- endmacro %}

{% macro required() -%}
    {{ common.required() }}
{%- endmacro %}

{% macro params(paramList) -%}
    {{ common.params(["name", "description", "type", "default"], paramList) }}
{%- endmacro %}

{% macro members(memberList) -%}
    {{ common.members(["name", "description", "type"], memberList) }}
{%- endmacro %}

{% macro noun(str, name, anchor) -%}
    {%- if(anchor == null) -%}
        {%- set anchor = name -%}
    {%- endif -%}
    {{ common.noun(str, 'en', name, anchor) }}
{%- endmacro %}

{%- macro hr() -%}
    {{ common.hr() }}
{%- endmacro %}