/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/md-dark-deeppurple/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.scss";
@import "primeflex/themes/primeone-dark.scss";
@import "primeicons/primeicons.css";
@import '@ng-doc/app/styles/themes/dark.css';


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: var(--surface-900);
}

.p-megamenu-panel {
  z-index: 3;
}

:root {
  --ng-doc-primary: #7F52FF !important;
  --ng-doc-link-color: #7F52FF !important;
  --ng-doc-code-max-height: 1080px !important;
  --ng-doc-icon-width: 24px !important;
  --ng-doc-mermaid-viewer-background: aliceblue;
  --ng-doc-app-horizontal-padding: 3rem !important;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  background: var(--ng-doc-base-2);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--ng-doc-base-10);
  width: 10px;
  border-radius: 5px;
}

.code-blue {
  color: rgba(0, 55, 185, 0.8);
}

.code-green {
  color: rgba(28, 99, 109, 0.8)
}

.code-black {
  color: #000;
}

.code-white {
  color: #FFF;
}

.code-red {
  color: #FF0000;
}

.wiki.p-dialog {
  color: var(--ng-doc-text) !important;
  background-color: transparent !important;
  border-radius: 1rem !important;
  overflow: hidden;

  .p-dialog-header {
    padding: .5rem 0 0;
    background-color: color-mix(in srgb, var(--ng-doc-navbar-background) 95%, transparent) !important;
  }

  .p-dialog-content {
    padding: 1rem;
    background-color: color-mix(in srgb, var(--ng-doc-navbar-background) 95%, transparent) !important;
  }
}